<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Spring MVC Application</display-name>



	<!-- if we use project name than environmenturl /WEB-INF/environmenturl-servlet.xml 
		should be present -->
	<!-- <servlet> <servlet-name>environmenturl</servlet-name> <servlet-class> 
		org.springframework.web.servlet.DispatcherServlet </servlet-class> <load-on-startup>1</load-on-startup> 
		</servlet> <servlet-mapping> <servlet-name>environmenturl</servlet-name> 
		<url-pattern>/</url-pattern> </servlet-mapping> -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:net/bull/javamelody/monitoring-spring.xml
			classpath:environmenturl-context.xml
			classpath:environmenturl-security-context.xml
		</param-value>
	</context-param>

	<!-- For security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- For security of monitoring -->
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	<!-- Custom Filter -->
	<filter>
		<filter-name>customFilter</filter-name>
		<filter-class>com.home.filters.CustomFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>customFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Initialize spring context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Enable webapp Scopes -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Will prevent SessionID -->
	<!-- <session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config> -->

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error_page.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error_page.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/jsp/error_page.jsp</location>
	</error-page>

	<!-- <welcome-file-list> <welcome-file>index.jsp</welcome-file> </welcome-file-list> -->
</web-app>